# Configurações do Servidor
PORT=3001
CLIENT_URL=http://localhost:5173
NODE_ENV=development
JWT_SECRET=super_secret_jwt_key_webrtc_voice_platform_2026

# Administrador Inicial (Criado automaticamente na primeira inicialização se não existir)
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@localhost
ADMIN_PASSWORD=change-me

# Banco de Dados
DB_PATH=../data/app.db
